body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #797171;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container,
.users-found-container,
#addPerson {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
textarea,
button[type="submit"] {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

#outputSection {
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 300px;
    overflow-y: auto;
    max-height: 200px;
}

#outputSection div {
    margin-bottom: 5px;
}

#displaySection{
    margin: 0 auto;
    width: 80%; /* Adjust as needed */
    text-align: center; /* Align output text to center */
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ffffff;
}

th {
    background-color: #252222;
}

/* vulgar words */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#errorText {
    color: black;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#message {
    padding: 20px;
    text-align: center;
}

#duplicateUserModal {
    text-align: center;
    color: black;
}